
body{
    background-color: rgba(0, 0, 0, 0.411);
}
#navbarNav ul li a{
    font-weight: bold;
    margin-right: 10px;
    color: rgb(235, 235, 238);
}
nav a{
    margin-left: 100px;
}
.txt h1{
    color:aqua;
    font-weight: bold;
    font-size: 60px ;
}
.txt h4{
    font-weight: bold;
    color:white;
}
.txt p1{
    font-weight: 600;
    color:white
}
.btn-outer{
    gap: 10px;
    justify-content:start;
}
.bt{
    background-color: aqua;
    width:30px;   
}
.man{
    width:250px;
}
.port{
    color:aliceblue;
    font-weight: bold;
}
.caru{
    background-color: rgb(179, 156, 127);
    
    padding: 20px;
    width: 120vh;
    align-items:center;
}


.pri{
    font-size:30px;
    color:aqua;
}
.uni{
    gap:8px;
}
.con{
    width: 120vh;
    align-items:center;
}
.ex{
    color:aliceblue;
    font-size:30px;
}
.edu{
    font-size: 45px;
    color:aqua
}
.soft{
    font-size:20px;
    font-weight: bold;
    color:white;
}
.with{
    text-align: center;
    font-size: 40px;
    color:aliceblue;
    font-weight:700;
}
.forom{

    width:100vh;
}
.me{
    width:55%;
    border: 10px solid grey;
    margin-left:47vh;
}
.bot{
    width:120vh;
}
.lst{
    width:50%;
    margin-left:66vh;
}
.lst h1{
    font-size:25px;
    color:aliceblue;
}
.last{
    margin-top:5px;
    margin-left:50px;
}
